<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <link rel="stylesheet" href="{% static 'css/login.css' %}">
    <!-- Add your head elements -->
    <title>Signup</title>
</head>
<body>
    <div class="container">
        <form method="post">
            {% csrf_token %}
            <h2>Sign Up</h2>
            {{ form.as_p | crispy}}
            <button type="submit">Sign Up</button>
        </form>
        <p>Already have an account? <a href="{% url 'login' %}">Log in here</a></p>
    </div>
</body>
</html>